@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


* {
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
}

header{
    margin-top: 52px;
    margin-left: 47px;
    word-spacing: 28px;
    cursor: pointer;
    
}

.menu {
   
    font-weight: 400;
    font-size: 15px;
    color: #b4b4b4; 
    
}

.loguin {
    width: 70px;
    height: 40px;   
    font-weight: 400;
    font-size: 15px;
    cursor: pointer;
    color: #ffffff;
    background: #6a5acd;
    border: none;
    border-radius: 30px;
}

img {
    width: 460px;
    height: 300px;
    margin-top: 100px;
  
    
}

h1 {
    font-weight: 700;
    color: #6a5acd;
    
}

p {
    font-weight: 500;
    font-size: 15px;
    color: #b4b4b4;
    width: 300px ;
    margin: 50px 10px;
  
   
}

.saiba-mais {
    width: 100px;
    height: 40px;
    font-weight: 500;
    font-size: 15px;
    cursor: pointer;
    color: #ffffff;
    background: #6a5acd;
    border-radius: 40px;
    border: none;
    margin-bottom: 50px;

}

.saiba-mais:hover {
    opacity: 0.8;
}

.saiba-mais:active {
    opacity: 0.5;
}

.loguin:hover {
    opacity: 0.8;
}

.loguin:active {
    opacity: 0.5;
}



section {
    display: inline-block;
    margin-top: 150px;
    
}

/* Esconde o checkbox e o ícone no desktop */
#chk, .menu-icon {
    display: none;
}

/* MEDIA QUERY PARA TELAS MENORES (Celular) */
@media (max-width: 768px) {
    header {
        margin-left: 20px;
        justify-content: space-between;
        padding-right: 20px;
    }

    .menu-icon {
        display: block; /* Mostra o ícone ☰ */
        font-size: 30px;
        cursor: pointer;
        color: #6a5acd;
        margin-left: 97%;
    }

    .menu-container {
        display: none; /* Esconde os links */
        position: absolute;
        top: 100px;
        left: 0;
        width: 100%;
        background-color: white;
        flex-direction: column;
        text-align: center;
        padding: 20px 0;
        box-shadow: 0 5px 10px rgba(0,0,0,0.1);
        z-index: 1;
    }

    .menu {
        display: block;
        padding: 15px;

    }

    .loguin  {
            margin-left: 40%;
           
        
       
    }  

    /* O TRUQUE: Quando clicar no ícone, o menu aparece */
    #chk:checked ~ .menu-container {
        display: flex;
    }
    
    /* Ajuste da imagem e seção para não quebrar no mobile */
    img { width: 100%; height: auto; margin-top: auto;}
    section {margin: 40px 20px 0 20px; width: 100%; padding: 30px;}
    h1 {margin: 25px 40px 25px 40px; font-size:26px; text-align: center;}
   
  
}





